{% extends 'Base.html' %}

{% block content %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title mb-5">{{ student.fullName }}'s Information</h2>
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a 
          class="nav-link active" 
          id="grades-tab" 
          data-toggle="tab" 
          href="#grades" 
          role="tab" 
          aria-controls="grades" 
          aria-selected="false"
        >
          <h6>Grades</h6>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a 
          class="nav-link" 
          id="profile-tab" 
          data-toggle="tab" 
          href="#profile" 
          role="tab" 
          aria-controls="profile" 
          aria-selected="true"
        >
          <h6>Profile</h6>
        </a>
      </li>
    </ul>
    <div class="tab-content px-3 py-5" id="myTabContent">
      <div class="tab-pane fade show active" id="grades" role="tabpanel" aria-labelledby="grades-tab">
        <a 
          href="{% url 'student:create_grade' student.pk %}" 
          type="button"
          class="btn text-white mb-3" 
          style="background-color: #0062cc;"
        >
          Add Grade
        </a>
        <table class="table">
          <thead>
            <tr>
              <th style="width: 2%"></th>
              <th scope="col" style="width: 10%">Test#</th>
              <th scope="col" style="width: 12%">Chinese</th>
              <th scope="col" style="width: 12%">English</th>
              <th scope="col" style="width: 12%">Math</th>
              <th scope="col" style="width: 12%">Total</th>
              <th scope="col" style="width: 12%">Average</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if grades %}
              {% for grade in grades %}
                <tr>
                  <td></td>
                  <td>{{ grade.testNo }}</td>
                  <td>{{ grade.chinese }}</td>
                  <td>{{ grade.english }}</td>
                  <td>{{ grade.math }}</td>
                  <td>{{ grade.total }}</td>
                  <td>{{ grade.average }}</td>
                  <td>
                    <a type="button" href="{% url 'student:update_grade' student.pk grade.pk %}" class="btn btn-info">
                      <i class="far fa-edit"></i>
                    </a>
                    <button 
                      class="btn btn-danger"
                      data-toggle="modal" 
                      data-target="#deleteGradeModals{{ student.id }}t{{ grade.testNo }}"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                {% include "student/DeleteGradeModal.html" %}
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="8" class="py-4">
                  <h5 class="text-secondary" style="text-align: center;">No Grades Yet</h5>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        {% include 'Paginator.html' %}
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <a 
          href="{% url 'student:update' student.pk %}" 
          type="button" 
          class="btn text-white mb-3" 
          style="background-color: #0062cc;"
        >
          Edit Profile
        </a>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9">
                {{ student.firstName }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9">
                {{ student.lastName }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9">
                {{ student.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}